.box-model{
    border: 5px solid darkgrey;
    padding: 50px;
    border-spacing: 50px;
}
.oscar-brown {
  color: #B5651D;
}
.rachael-purple {
  color: #BF3EFF;
}
#header {
  color: #1ca1dd;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: bolder;
}
.mylinks {
  width: 75%;
  font-style: normal;
  font-weight: bold;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}
.center-picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.PS {
  height: 205px;
  float:right;
  font-size: 15px;
  color: #cc0000;
  font-weight: bold;
}
#darkblue {
  color: darkblue;
}
.aboutme {
  margin-left: 40px;
  margin-right: 20px;
  font-weight: bold;
}
.well {
  border: 5px solid lightgrey;
}
