.box-model{
    border: 5px solid darkgrey;
    padding: 50px;
}
.oscar-brown {
  color: brown;
}
.rachael-purple {
  color: #BF3EFF;
}
#header {
  color: #1ca1dd;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: bolder;
}

.mylinks {
  width: 75%;
  font-style: normal;
  font-weight: bold;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

}
.center-picture {
  display: block;
  margin-left: auto;
  margin-right: auto;

}
.PS {
  border: 5px solid purple;
  float:right;
  font-size: 15px;
  color: darkred;
  font-weight: bold;
}
#darkblue {
  color: darkblue;
}
.aboutme {
  background-color: lightgrey;
  margin-left: 40px;
  margin-right: 20px;
  font-weight: bold;
}
.jumbotron{
  background-color: lighgrey;
}
.well{
  background color: lightgrey;
}
